pipeline/pl_incremental_load_new.json
{
	"name": "pl_incremental_load_new",
	"properties": {
		"activities": [
			{
				"name": "watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select @{pipeline().parameters.Watermark_Column} from dbo.watermarktable where tablename='@{pipeline().parameters.Source_Table_Name}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_watermarktable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "source",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(insertdatetime) as Last_M from dbo.@{pipeline().parameters.Source_Table_Name}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Incremental Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.@{pipeline().parameters.Source_Table_Name} where insertdatetime > '@{activity('watermark').output.firstRow.watermarkvalue}' and insertdatetime<='@{activity('source').output.firstRow.Last_M}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"insertdatetime"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sqqldb_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_targetsqldb",
						"type": "DatasetReference",
						"parameters": {
							"Target_Table_Name": {
								"value": "@pipeline().parameters.pl_Target_Table_Name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Incremental Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_highwatermark_multi_tabs]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@activity('source').output.firstRow.Last_M",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"table_name": {
							"value": {
								"value": "@pipeline().parameters.Source_Table_Name",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Source_Table_Name": {
				"type": "string"
			},
			"Watermark_Column": {
				"type": "string"
			},
			"pl_Target_Table_Name": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-01T17:47:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}