pipeline/pl_incremental_load_parameterized.json
{
	"name": "pl_incremental_load_parameterized",
	"properties": {
		"activities": [
			{
				"name": "control table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select watermarkvalue from dbo.watermarktable where tablename='@{pipeline().parameters.Source_Table_Name}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_control_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Source",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select max([insertdatetime]) as Last_M from @{pipeline().parameters.Source_Table_Name}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_source_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "control table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.Source_Table_Name} where insertdatetime>'@{activity('control table').output.firstRow.watermarkvalue}' and insertdatetime<='@{activity('Source').output.firstRow.Last_M}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"insertdatetime"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_target_sqldb",
						"type": "DatasetReference",
						"parameters": {
							"Target_Table": {
								"value": "@pipeline().parameters.Target_Table_Name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.sp_highwatermark_multi",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@activity('Source').output.firstRow.Last_M",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"table_name": {
							"value": {
								"value": "@pipeline().parameters.Source_Table_Name",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Source_Table_Name": {
				"type": "string"
			},
			"Target_Table_Name": {
				"type": "string"
			},
			"WaterMarkColumn": {
				"type": "string"
			}
		},
		"variables": {
			"varfile": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-01T09:57:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}