pipeline/pl_SwitchCase.json
{
	"name": "pl_SwitchCase",
	"properties": {
		"activities": [
			{
				"name": "Read the Event Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_event_file",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Events",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Read the Event Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read the Event Data').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch to Events",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().Date\n",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "14-06-2025",
										"activities": [
											{
												"name": "Holiday-Day-1",
												"type": "Wait",
												"dependsOn": [
													{
														"activity": "Set variable1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											},
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "Date",
													"value": {
														"value": "@item().Date",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "15-06-2025",
										"activities": [
											{
												"name": "Holiday Day-2",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										]
									},
									{
										"value": "21-06-2025",
										"activities": [
											{
												"name": "Resume the 10th Sessions",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										]
									},
									{
										"value": "22-06-2025",
										"activities": [
											{
												"name": "Resume the 11th Sessions",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"Date": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-01T14:20:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}